<%- include('layout', { title: 'Trang chủ'}) %>
<link rel="stylesheet" href="CSS/home.css" />
<div id="mainpage">
  <div class="poster">
    <img
      src="https://res.cloudinary.com/dd4jics71/image/upload/v1722956235/anh%20cua%20chien/123133444_btfq2r.png"
      class="img__main"
      loading="lazy"
    />
  </div>
</div>
