<%- include('layout', { title: 'Chế độ Auto' }) %>
    <link rel="stylesheet" href="CSS/webcam.css">
    <div id="mainpage">
        <!-- <div class="poster">
            <img src="https://res.cloudinary.com/dd4jics71/image/upload/v1702654723/anh%20cua%20chien/manu_screen_idpmqn.png"
                class="img__main" loading="lazy" />
        </div> -->
      
      
    </div>
    <div id="container">
        <span>camera</span>
        <%- include('frame', {}) %>
        
    </div>
    