.poster{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;     
}

#mainpage{
    background-color: #fff;
}

.poster .img__main{
    height: 100%;
    object-fit: cover;
}

#container {
    position: absolute;
    right: 20px;
    bottom: 0;
    height: 270px;
    width: 320px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;
}

